<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperatura - Humedad</title>
    <link rel="stylesheet" href="./inicio.css">
</head>

<body>
    <h1 class="titulo">Temperatura - Humedad </h1>
    <div class="principal">
        <h2 class="temperatura"> Temperatura {{temperatura}} ยบ</h2>
        <h2 class="humedad">Humedad {{humedad}} %</h2>
    </div>
    <footer class="piePagina">
        <h2>Temperatura - Humedad</h2>
    </footer>
</body>

</html>